* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

HTML,
body,
main {
  background-color: black;
  min-height: 100vh;
  min-width: 100%;
  
}

.loading-gif-container {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center; 
  width: 90vw;
  height: 60vh;
}

.loading-gif {
  width: 500px;
}

.error {
  color: red;
  font-size: 1.5em;
  text-align: center;
}