.fave-poster {
  height: 90%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.poster-header {
  height:50px;
  width: 100%;
  background: transparent;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.fave-toggle {
  height: 100%;
  width: 40px;
  background-image: url('../images/011-cinema.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  } 
}

.fave-toggle span {
  display: none;
}

.fave-poster-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.poster-title {
  color: white;
}