.favorites {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 25px;
  justify-content: flex-start;
  margin: 2%;
  overflow: hidden;
}

.no-faves-container {
  font-size: 30px;
  margin: 100px auto;
}