.fave-poster {
  height: 350px;
  justify-self: center;
  margin: 10px auto;
  padding: 0;
  position: relative;
  width: 200px;
}

.poster-header {
  background: transparent;
  display: flex;
  flex-direction: row;
  height:50px;
  justify-content: flex-end;
  position: absolute;
  width: 200px;
}

.fave-toggle {
  background-color: transparent;
  background-image: url('../images/011-cinema.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: none;
  height: 100%;
  outline: none;
  width: 40px;
  &:hover {
    cursor: pointer;
  } 
}

.fave-toggle span {
  display: none;
}


.fave-poster-img {
  background-size: cover;
  width: 200px;
}

.poster-title {
  color: white;
}