header {
  height: 10vh;
  display: grid;
  grid-template-columns: 30% 40% 15% 15%;
}

h1 {
  color: #f1f1f1;
  width: fit-content;
  font-size: 50px;
  padding: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: auto;
}

.header-btns-container {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: unset;
  grid-column-start: 4;
  grid-column-end: 5;
}

.sign-in-btn,
.home-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 7px;
  border: 1px solid white;
  color: white;
  width: 75px;
  text-decoration: none;
}

.header-greeting {
  display: flex;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-content: center;
  align-items: center;
  color: white;
}
