header {
  display: grid;
  grid-template-columns: 30% 30% 15% 25%;
  height: fit-content;
}

h1 {
  color: #f1f1f1;
  font-size: 3vw;
  grid-column-end: 2;
  grid-column-start: 1;
  margin: auto;
  padding: 10px;
  width: fit-content;
}

.header-btns-container {
  display: flex;
  font-size: 0.8em;
  grid-column-end: 5;
  grid-column-start: 4;
  margin: auto;
}

.sign-in-btn,
.home-btn,
.favorites-btn {
  align-items: center;
  border: 1px solid white;
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 7px;
  padding: 5px;
  text-decoration: none;
  width: 75px;
}

.header-greeting {
  align-items: center;
  color: white;
  display: flex;
  grid-column-end: 4;
  grid-column-start: 3;
  justify-content: center;
}
