.login-form {
  align-items: center;
  background-color: grey;
  border-radius: 10%;
  box-shadow: 0px 0px 15px #fff;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 50px auto;
  width: 40%;

}

.login-input {
  height: 30px;
  margin: 10px;
  width: 90%;
  border: 1px solid black;
  padding: 5px;
}

.login-btn {
  width: 40%;
}

.login-create-acct {
  margin-top: 20px;
  text-decoration: none;
}