.movie-details-display {
  display: flex;
  max-height: 40vh;
}

.movie-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 45vh;
  margin: auto;
  color: white;
}

.details {
  margin: 1.3vw;
  text-align: center;
  font-size: 1.8vw;
}

.details-img {
  width: 50vw;
  max-height: 250px;
  box-shadow: 0px 0px 8px #fff;
  border-radius: 10%;
  margin: auto;
}