.movie-poster {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin: 0px 10px;
  width: 225px;
}

.poster-img {
  border-radius: 10%;
  box-shadow: 0px 0px 8px #fff;
  height: 225px;
  width: 150px;
}

.poster-title {
  margin-top: 10px;
  text-align: center;
}

.favorite-icon {
  // background-color: rgb(248, 243, 197);
  background-repeat: no-repeat;
  border: solid 1px white;
  border-radius: 50%;
  height: 25px;
  left: 228px;
  outline: none;
  position: relative;
  top: 26px;
  width: 25px;
  
  &:hover {
    cursor: pointer;
  }

}
    
