.movie-poster {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin: 0px 10px;
  width: 225px;
}

.poster-img {
  border-radius: 10%;
  box-shadow: 0px 0px 8px #fff;
  height: 175px;
  width: 125px;
}



.poster-title {
  margin-top: 10px;
  text-align: center;
}

.favorite-icon {
  // align-self: flex-end;
  height: 25px;
  margin: 5px;
}