.movie-poster {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin: 0px 10px;
  width: 225px;
}

.poster-img {
  border-radius: 10%;
  box-shadow: 0px 0px 8px #fff;
  height: 175px;
  width: 125px;
}



.poster-title {
  margin-top: 10px;
  text-align: center;
}

.favorite-icon {
  height: 25px;
  width: 25px;
  margin: 5px;
  background-image: url('../images/001-heart.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  outline: none;
  position: relative;
  bottom: 35px;
  left: 130px;
  
  &:hover {
    cursor: pointer;
  }

  & span {
    display: none;
  }

}
    
