.movie-details-display {
  display: flex;
}

.movie-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 45vh;
  margin: auto;
  color: white;
}

.details {
  margin: 1.3vw;
  text-align: center;
}

.details-img {
  height: 45vh;
  width: auto;
}