.movie-display {
  display: flex;
  flex-direction: column;
  color: white;
  height: fit-content;
}

.movie-details {
  height: 275px;
  width: 90vw;
  margin: auto;
}

.movies-scroll {
  display: flex;
  overflow: scroll;
  justify-content: space-between;
  color: white;
  padding: 10px;
  height: 350px;
}

